:root {
  /* Fonts */
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  /* Colors */
  --main-dark-color: #000;
  --main-light-color: #fff;
  --current-color: #2196f3;
  --secondary-color: #757575;
  --main-color: #212121;
  --border-color: #2f303a;
  --badge-bg-color: #f5f4fa;
}

body {
  font-family: var(--main-font-family);
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;

  color: var(--main-color);
}

/* Common Styles */
.link {
  color: #212121;

  text-decoration: none;
}

.list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--main-light-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.header > .main-nav {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}

.current {
  color: var(--current-color);

  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.site-nav {
  display: flex;
}

.nav-item {
  margin-right: 50px;
}
.nav-item:last-child {
  margin-right: 0px;
}
.site-nav .current-item {
  color: var(--current-color);

  font-size: 14px;
  line-height: 1.14;
}
.site-nav > .site-logo {
  margin-right: 93px;
}
.site-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--main-dark-color);

  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link {
  color: var(--main-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--current-color);
}

.contact .contact-type {
  display: flex;
  margin-right: 50px;
  color: var(--secondary-color);
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact {
  margin-left: auto;
}
.contact .contact-type:last-child {
  margin-right: 0px;
}
.contact-mail {
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--current-color);
}
.contact-icon {
  fill: currentColor;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
}
.contact-icon:hover,
.contact-icon:focus {
  color: var(--current-color);
}
.contact-tel {
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--current-color);
}
.contact-tel-icon {
  fill: currentColor;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
  align-items: baseline;
}
/*Hero*/

.section-title {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  /*background-color: var(--border-color);*/
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.main-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-light-color);

  font-family: var(--main-font-family);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  border: none;

  background-color: var(--current-color);
  color: var(--main-light-color);

  cursor: pointer;
  font-family: inherit;
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}

.vissually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Features*/
.feature-list {
  width: 270px;
}
.feature-list::before {
  display: block;
  content: '';
  height: 120px;
  background: var(--badge-bg-color);
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.feature {
  gap: 30px;
}
.feature .title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color);
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.feature .text {
  margin-top: 10px;
  margin-bottom: 0px;
  color: var(--secondary-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*Work*/
.section-work {
  padding-top: 0px;
  padding-bottom: 94px;
}
.work-item {
  display: flex;
  column-gap: 30px;
  text-decoration: none;
}
.work-list {
  display: block;
}

.about-work {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--main-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
img {
  display: block;
}
/*Our team*/

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--badge-bg-color);
}

.team-tittle {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--main-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  column-gap: 30px;
}
.team-item {
  width: calc((100% - 60px) / 3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item {
  padding-top: 30px;
  padding-bottom: 30px;
}
.about-name {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--main-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.position {
  margin: 0px;
  color: var(--secondary-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 16px 32px 30px 32px;
}
.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-soc-item {
  width: 44px;
  height: 44px;
}
.team-soc-icon {
  fill: #afb1b8;
}
.team-soc-icon:hover,
.team-soc-icon:focus {
  fill: var(--main-light-color);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--current-color);
}
/*.team-soc-link:hover,
.team-soc-link:focus .team-soc-icon {
  fill: var(--current-color);
}*/
/*Clients*/
.customers-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color);
}
.customers-list {
  gap: 30px;
}
.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-icon {
  fill: #afb1b8;
}
.clients-icon:hover,
.clients-icon:focus {
  fill: var(--current-color);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--current-color);
}
/*Contacts*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--border-color);
}

.site-logo-footer {
  color: var(--main-dark-color);

  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}
.secondary-current {
  color: var(--main-light-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.adress {
  margin-top: 20px;

  font-style: normal;
}
.adress-list {
  display: block;
  flex-direction: column;
}
.adress-item {
  margin-bottom: 9px;
}
.adress-item:last-child {
  margin-bottom: 0px;
}
.street {
  color: var(--main-light-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contacts {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.container-footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  align-items: baseline;
}
.container-social {
  width: 206px;
  margin-left: 70px;
}

.social-text {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 206px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.social-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.soc-item {
  width: 44px;
  height: 44px;
}
.soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
.soc-link:hover,
.soc-link:focus {
  background-color: var(--current-color);
}
/* Portfolio*/

.filter {
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item {
  display: block;
  margin-right: 8px;

  color: var(--main-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter-item:last-child {
  margin-right: 0px;
}
.button-filter-all {
  padding: 6px 22px;
  text-align: center;
  border: none;
  color: var(--main-light-color);
  background-color: var(--current-color);
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
}
.button-filter-all:hover,
.button-filter-all:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter {
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  color: var(--main-color);
  background-color: var(--badge-bg-color);
}
.button-filter:hover,
.button-filter:focus {
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  color: var(--main-light-color);
  background-color: var(--current-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Projects*/
.flex-filter {
  margin-bottom: 50px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0px;
  padding: 0px;
}
.project-list {
  width: 370px;
  display: flex;

  color: var(--main-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-img {
  text-decoration: none;
}
.project-img:hover,
.project-img:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-list-title {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
.project-title {
  margin: 0px;
  margin-bottom: 4px;
  color: var(--main-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  margin: 0px;
  color: var(--secondary-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
  background: var(--main-light-color);
  border: 1px solid #eeeeee;
}
